@model DBCovid.models.NguoiDung
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "ThemNguoiDung";
}


<div class="wrapper wrapper__custom-height wrapper-block">
    <!-- The Modal -->
    @{
        if (ViewBag.message != "" && ViewBag.message != null)
        {
            <script>
                var mgs = @Html.Raw(Json.Encode(ViewBag.message));
                $(document).ready(function () {
                    $("#patien-modal-body").text(mgs);
                    if (mgs != null && mgs != "") $("#patient-modal").modal();
                    mgs = null;
                })
                function quaylai() {
                    window.location.href = "/nguoi-dung/index"
                }
            </script>
            <div class="modal fade" id="patient-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Thông tin bệnh nhân</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="patien-modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="quaylai()" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>

        }
    }
    <div class="container__page-fullWidth">
        <div class="name__page">
            <h4 class="name__page-tilte">
                Thêm người dùng
            </h4>
        </div>
        <div class="container__page-content">
            @using (Html.BeginForm("themNguoiDung", "NguoiDung", FormMethod.Post))
            {
                <div class="row">
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            @Html.TextBoxFor(model => model.ID, htmlAttributes: new { @readonly = "readonly", style = "display:none" })
                            @Html.Label("Tài khoản", htmlAttributes: new { @class = "form__import-label" })
                            @Html.TextBoxFor(model => model.taiKhoan, htmlAttributes: new { @class = "form__import-select", @placeholder = "Nhập dữ liệu" })
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            @Html.Label("Mật khẩu", htmlAttributes: new { @class = "form__import-label" })
                            @Html.TextBoxFor(model => model.matKhau, htmlAttributes: new { @class = "form__import-select", @type = "password", @placeholder = "Nhập dữ liệu" })
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            @Html.Label("Nhập lại mật khẩu", htmlAttributes: new { @class = "form__import-label" })
                            @Html.TextBoxFor(model => model.matKhau, htmlAttributes: new { @class = "form__import-select", @type = "password", @placeholder = "Nhập dữ liệu" })
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            @Html.TextBoxFor(model => model.ID, htmlAttributes: new { @readonly = "readonly", style = "display:none" })
                            @Html.Label("Họ và tên", htmlAttributes: new { @class = "form__import-label" })
                            @Html.TextBoxFor(model => model.ten, htmlAttributes: new { @class = "form__import-select", @placeholder = "Nhập dữ liệu" })
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            @Html.Label("Số CMND", htmlAttributes: new { @class = "form__import-label" })
                            @Html.TextBoxFor(model => model.CMND, htmlAttributes: new { @class = "form__import-select", @placeholder = "Nhập dữ liệu" })
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            @Html.Label("Giới tính", htmlAttributes: new { @class = "form__import-label" })
                            @Html.TextBoxFor(model => model.gioiTinh, htmlAttributes: new { @class = "form__import-select", @placeholder = "Nhập dữ liệu" })
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            @Html.Label("Ngày sinh", htmlAttributes: new { @class = "form__import-label" })
                            @Html.TextBoxFor(model => model.ngaySinh, "{0:yyyy-MM-dd}", new { @class = "form__import-select", @type = "date" })

                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            @Html.Label("Số điện thoại", htmlAttributes: new { @class = "form__import-label" })
                            @Html.TextBoxFor(model => model.sdt, htmlAttributes: new { @class = "form__import-select", @placeholder = "Nhập dữ liệu" })
                        </div>
                    </div>
                    <div class="col l-8 m-6 c-12">
                        <div class="form__import-item">
                            @Html.Label("Địa chỉ", htmlAttributes: new { @class = "form__import-label" })
                            <select name="tinhID" id="tinhID" class="form__import-select" onchange="tinhchange(this)">
                                <option>Tỉnh</option>
                            </select>
                            <select name="huyenID" id="huyenID" class="form__import-select" style="margin-left:15px" onchange="huyenchange(this)">
                                <option>Huyện</option>
                            </select>
                            <select name="xaID" id="xaID" class="form__import-select" style="margin-left:15px">
                                <option>Xã</option>
                            </select>

                        </div>
                    </div>

                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            @Html.Label("Vị trí làm việc", htmlAttributes: new { @class = "form__import-label" })
                            @Html.DropDownListFor(model => model.viTriLamViecID, (IEnumerable<SelectListItem>)ViewBag.viTriLamViec, "Vị trí làm việc", new { @class = "form__import-select" })

                        </div>
                    </div>
                    <div class="col l-8 m-6 c-12">
                        <div class="form__import-item">
                            @Html.Label("Số nhà/thôn xóm", htmlAttributes: new { @class = "form__import-label" })
                            @Html.TextBoxFor(model => model.diaChichiTiet, htmlAttributes: new { @class = "form__import-select" })

                        </div>
                    </div>

                </div>
                <div class="btn-container">
                    <button class="btn btn-primary btn__save btn-submit" type="submit">
                        Lưu thông tin
                    </button>
                    <button class="btn btn__reset btn-submit btn-default" type="reset">Đặt lại</button>
                    <a class="btn btn__reset btn-submit btn-default" href="nguoi-dung/index">hủy</a>
                </div>

            }
        </div>
    </div>

</div>
<script>
    var tinh = @Html.Raw(Json.Encode(ViewBag.tinhs));
    var huyen = @Html.Raw(Json.Encode(ViewBag.huyens));
    var xa = @Html.Raw(Json.Encode(ViewBag.xas));
    function tinhchange(res) {
        let id = res.value;
        let slHuyen = $("#huyenID");
        slHuyen.empty();
        slHuyen.append(`<option>Huyện</option>`);
        huyen.map((val) => {
            if (val.tinhID == id) slHuyen.append(`<option value="${val.ID}">${val["tenHuyen"]}</option>`);
        })

    }
    function huyenchange(res) {
        let id = res.value;
        let slxa = $("#xaID");
        slxa.empty();
        slxa.append(`<option>Xã</option>`);
        xa.map((val) => {
            if (val.huyenID == id) slxa.append(`<option value="${val.ID}">${val["tenXa"]}</option>`);
        })
    }
    function loadDC() {
        let slTinh = $("#tinhID");
        let slHuyen = $("#huyenID");
        let slXa = $("#xaID");
        slTinh.empty();
        slTinh.append(`<option>Tỉnh</option>`);
        for (let temp of tinh) {
            slTinh.append(`<option value="${temp["ID"]}">${temp["tenTinh"]}</option>`);
        }
    };
    loadDC();
</script>