@model PttkProject.models.MediaRecord

@{
    ViewBag.Title = "ImportMedicalRecord";
}
<div class="wrapper wrapper__custom-height wrapper-block">
    <div class="container__page-fullWidth">
        <div class="name__page">
            <h4 class="name__page-tilte">
                Thêm bệnh án
            </h4>
        </div>
        <div class="container__page-content">
            <form action="/Patient/ImportMedicalRecord" class="form" method="post">
                <div class="row">
                    @Html.HiddenFor(m => m.benhNhanID)
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bênh nhân
                            </span>
                            <input class="form__import-select" type="Text" disabled value="@Model.tenBenhNhan" />
                        </div>

                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <label for="@Model.ngayNhapVien" class="form__import-label">
                                Ngày nhập viện
                            </label>
                            <input class="form__import-select" type="date" name="ngayNhapVien" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Ngày xuất viện
                            </span>
                            <input class="form__import-select" type="date" name="ngayXuatVien" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Loại Phòng
                            </span>
                            @Html.DropDownList("loaiPhongID", (IEnumerable<SelectListItem>)ViewBag.loaiPhong, new { @class = "form__import-select", @id = "loaiPhong" })
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Phòng Bệnh
                            </span>
                            @Html.DropDownList("phongID", (IEnumerable<SelectListItem>)ViewBag.phongBenh, new { @class = "form__import-select", @id = "phongBenh", @name = "phongID" })
                        </div>

                        @Html.ValidationMessageFor(m => m.phongID,"" ,new { @class = "text-danger" })
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Trạng thái
                            </span>
                            @Html.DropDownList("trangThaiID", (IEnumerable<SelectListItem>)ViewBag.trangThai, new { @class = "form__import-select", @id = "trangThai", @name = "trangThaiID" })
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Chẩn đoán
                            </span>
                            <textarea class="form__import-select" placeholder="Nhập dữ liệu" name="chanDoan"></textarea>

                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Triệu chứng
                            </span>
                            <textarea class="form__import-select" placeholder="Nhập dữ liệu" name="trieuChung"></textarea>
                        </div>
                    </div>




                </div>
                <div class="btn-container">
                    <button class="btn btn-primary btn__save btn-submit">
                        Lưu thông tin
                    </button>
                    <button class="btn btn__reset btn-submit btn-default">
                        Đặt lại
                    </button>
                    <button class="btn btn__cancel btn-submit btn-default">
                        Hủy
                    </button>
                </div>
            </form>
        </div>
    </div>


</div>
<script src="~/Assets/js/themBenhAn.js"></script>
