@model DBCovid.models.ThongTinTruyVet
@{
    ViewBag.Title = "ThemThongTinTruyVet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper__custom-height wrapper-block">
    <div class="container__page-fullWidth">
        <div class="name__page">
            <h4 class="name__page-tilte">
                Thêm thông tin truy vết
            </h4>
        </div>
        <div class="container__page-content">
            <form action="/Patient/ThemThongTinTruyVet" class="form" method="post" id="themThongTinTruyVet">
                <div class="row">
                    @Html.HiddenFor(m => m.benhAnID)
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bênh nhân
                            </span>
                            <input class="form__import-select" type="Text" disabled value="@ViewBag.tenBenhNhan" />
                        </div>

                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Ngày tháng
                            </span>
                            <input class="form__import-select" type="date" name="ngay" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Địa chỉ chi tiết
                            </span>
                            <input class="form__import-select" type="text" name="diaChiChiTiet" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tỉnh
                            </span>
                            @Html.DropDownList("tinhID", (IEnumerable<SelectListItem>)ViewBag.tinhs, new { @class = "form__import-select", @id = "tinh" })
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Huyện
                            </span>
                            @Html.DropDownList("huyenID", (IEnumerable<SelectListItem>)ViewBag.huyens, new { @class = "form__import-select", @id = "huyen" })
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Xã
                            </span>
                            @Html.DropDownList("xaID", (IEnumerable<SelectListItem>)ViewBag.xas, new { @class = "form__import-select", @id = "xa" })
                        </div>
                    </div>

                </div>
                <div class="btn-container">
                    <button class="btn btn-primary btn__save btn-submit">
                        Lưu thông tin
                    </button>
                    <button class="btn btn__reset btn-submit btn-default">
                        Đặt lại
                    </button>
                    <button class="btn btn__cancel btn-submit btn-default">
                        Hủy
                    </button>
                </div>
            </form>
        </div>
    </div>


</div>
<script src="~/Assets/js/themThongTinTruyVet.js"></script>

