@model DBCovid.models.BenhNhan
@{
    ViewBag.Title = "UpdateInformation";


}
<div class="wrapper wrapper__custom-height wrapper-block">
    <!-- The Modal -->
    @{
        if (ViewBag.message != "" && ViewBag.message != null)
        {
            <script>
                var mgs = @Html.Raw(Json.Encode(ViewBag.message));
                $(document).ready(function () {
                    $("#patien-modal-body").text(mgs);
                    if (mgs != null && mgs != "") $("#patient-modal").modal();
                    mgs = null;
                })
            </script>
            <div class="modal fade" id="patient-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Thông tin bệnh nhân</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="patien-modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>

        }
    }
    <div class="container__page-fullWidth">
        <div class="name__page">
            <h4 class="name__page-tilte">
                Cập nhật thông tin bệnh nhân
            </h4>
        </div>
        <div class="container__page-content">
            @using (Html.BeginForm("Update", "BenhNhan", FormMethod.Post))
            {
            <div class="row">
                <input id="ID" type="hidden" value="@Model.ID" />
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        @Html.TextBoxFor(model => model.ID, htmlAttributes: new { @readonly = "readonly", style = "display:none" })
                        @Html.Label("Tên bênh nhân", htmlAttributes: new { @class = "form__import-label" })
                        @Html.TextBoxFor(model => model.ten, htmlAttributes: new { @class = "form__import-select", @placeholder = "Nhập dữ liệu" })
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        @Html.Label("Số CMND", htmlAttributes: new { @class = "form__import-label" })
                        @Html.TextBoxFor(model => model.CMND, htmlAttributes: new { @class = "form__import-select", @placeholder = "Nhập dữ liệu" })
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        @Html.Label("Giới tính", htmlAttributes: new { @class = "form__import-label" })
                        @Html.TextBoxFor(model => model.gioiTinh, htmlAttributes: new { @class = "form__import-select", @placeholder = "Nhập dữ liệu" })
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        @Html.Label("Ngày sinh", htmlAttributes: new { @class = "form__import-label" })
                        @Html.TextBoxFor(model => model.ngaySinh, "{0:yyyy-MM-dd}", new { @class = "form__import-select", @type = "date" })

                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        @Html.Label("Số điện thoại bênh nhân", htmlAttributes: new { @class = "form__import-label" })
                        @Html.TextBoxFor(model => model.sdtBenhNhan, htmlAttributes: new { @class = "form__import-select", @placeholder = "Nhập dữ liệu" })
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        @Html.Label("Số điện thoại người thân", htmlAttributes: new { @class = "form__import-label" })
                        @Html.TextBoxFor(model => model.sdtNguoiThan, htmlAttributes: new { @class = "form__import-select", @placeholder = "Nhập dữ liệu" })
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        @Html.Label("Mã bảo hiểm y tế", htmlAttributes: new { @class = "form__import-label" })
                        @Html.TextBoxFor(model => model.maBHYT, htmlAttributes: new { @class = "form__import-select", @placeholder = "Nhập dữ liệu" })
                    </div>
                </div>

                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        @Html.Label("Tỉnh", htmlAttributes: new { @class = "form__import-label" })

                        <select name="tinhID" id="tinhID" class="form__import-select" onchange="tinhchange(this)">
                            <option>Tỉnh</option>
                        </select>
                    </div>
                </div>

                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        @Html.Label("Huyện", htmlAttributes: new { @class = "form__import-label" })

                        <select name="huyenID" id="huyenID" class="form__import-select" onchange="huyenchange(this)">
                            <option>Huyện</option>
                        </select>

                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        @Html.Label("Xã", htmlAttributes: new { @class = "form__import-label" })
                        <select name="xaID" id="xaID" class="form__import-select" >
                            <option>Xã</option>
                        </select>

                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        @Html.Label("Đối tượng cách ly", htmlAttributes: new { @class = "form__import-label" })
                        @Html.TextBoxFor(model => model.doiTuongCachLy, htmlAttributes: new { @class = "form__import-select", @placeholder = "Nhập dữ liệu" })

                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="form__import-item">
                        @Html.Label("Số nhà/thôn xóm", htmlAttributes: new { @class = "form__import-label" })
                        @Html.TextBoxFor(model => model.diaChichiTiet, htmlAttributes: new { @class = "form__import-select" })

                    </div>
                </div>

            </div>
                <div class="btn-container">
                    <button class="btn btn-primary btn__save btn-submit" type="submit">
                        Lưu thông tin
                    </button>
                    <button class="btn btn__reset btn-submit btn-default" type="reset">Đặt lại</button>
                    <a class="btn btn__reset btn-submit btn-default" href="/benh-nhan/tim-kiem-benh-nhan">hủy</a>
                </div>

            }
            <div class="btn-container">
                <div  style="padding-right:25px">
                    <a href="/benh-nhan/them-benh-an/@Model.ID" class="btn btn-primary btn__add btn-submit">
                        Thêm bệnh án
                    </a>
                </div>
                <div>
                    @Html.DropDownList("selectBenhAn", (IEnumerable<SelectListItem>)ViewBag.ba, "Sửa bệnh án", htmlAttributes: new { @class = "form__import-select col-md-8", @onchange = "update(this)", @id = "selectBenhAn" })
                </div>

            </div>
            
        </div>
    </div>

</div>
<script>
    var tinh = @Html.Raw(Json.Encode(ViewBag.tinhs));
    var huyen = @Html.Raw(Json.Encode(ViewBag.huyens));
    var xa = @Html.Raw(Json.Encode(ViewBag.xas));
    var dsTinh = [];
    var dsHuyen = [];
    var dsXa = [];
    var idXa = @Html.Raw(Json.Encode(Model.xaID));
    var idHuyen = xa.find(val => val["ID"] == idXa).huyenID;
    var idTinh = huyen.find(val => val["ID"] == idHuyen).tinhID;

    function update(res) {
        if(res.value!=null)window.location ="/benh-nhan/cap-nhat-benh-an/"+ res.value;
    }
    function tinhchange(res) {
        let id = res.value;
        let slHuyen = $("#huyenID");
        slHuyen.empty();
        slHuyen.append(`<option>Huyện</option>`);
        huyen.map((val) => {
            if(val.tinhID==id)slHuyen.append(`<option value="${val.ID}">${val["tenHuyen"]}</option>`);
        })

    }
    function huyenchange(res) {
        let id = res.value;
        let slxa = $("#xaID");
        slxa.empty();
        slxa.append(`<option>Xã</option>`);
        xa.map((val) => {
            if (val.huyenID == id) slxa.append(`<option value="${val.ID}">${val["tenXa"]}</option>`);
        })
    }
    function loadDC() {
        let slTinh = $("#tinhID");
        let slHuyen = $("#huyenID");
        let slXa = $("#xaID");
        dsTinh = tinh;
        huyen.map((val) => {if(val.tinhID==idTinh)dsHuyen.push(val) });
        xa.map((val) => { if (val.huyenID == idHuyen) dsXa.push(val) });

        if (typeof(idTinh)!="undefined") {
            slTinh.empty();
            slTinh.append(`<option>Tỉnh</option>`);
            for (let temp of dsTinh) {
                if (temp["ID"] != idTinh) slTinh.append(`<option value="${temp["ID"]}">${temp["tenTinh"]}</option>`);
                else slTinh.append(`<option value="${temp["ID"]}" selected="selected">${temp["tenTinh"]}</option>`);
            }
        }
        if (typeof(idHuyen)!="undefined") {
            slHuyen.empty();
            slHuyen.append(`<option>Huyện</option>`);
            for (let temp of dsHuyen) {
                if (temp["ID"] != idHuyen) slHuyen.append(`<option value="${temp["ID"]}">${temp["tenHuyen"]}</option>`);
                else slHuyen.append(`<option value="${temp["ID"]}" selected="selected">${temp["tenHuyen"]}</option>`);
            }
        }
        if (typeof(idXa)!="undefined") {
            slXa.empty();
            slXa.append(`<option>Xã</option>`);
            for (let temp of dsXa) {
                if (temp["ID"] != idXa) slXa.append(`<option value="${temp["ID"]}">${temp["tenXa"]}</option>`);
                else slXa.append(`<option value="${temp["ID"]}" selected="selected">${temp["tenXa"]}</option>`);
            }
        }
    };
    loadDC();
</script>