@model DBCovid.models.BenhAn

@{
    ViewBag.Title = "ImportMedicalRecord";
}
<div class="wrapper wrapper__custom-height wrapper-block">
    <div class="container__page-fullWidth">
        <div class="name__page">
            <h4 class="name__page-tilte">
                Thêm bệnh án
            </h4>
        </div>
        <div class="container__page-content">
            <form action="/benh-nhan/them-benh-an" class="form" method="post" id="importMedicalRecord">
                <div class="row">
                    @Html.HiddenFor(m => m.benhNhanID)
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bênh nhân
                            </span>
                            <input class="form__import-select" type="Text" disabled value="@ViewBag.tenBenhNhan" />
                        </div>

                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span for="@Model.ngayNhapVien" class="form__import-label">
                                Ngày nhập viện
                            </span>
                            <input class="form__import-select" type="date" name="ngayNhapVien" required/>
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Ngày xuất viện
                            </span>
                            <input class="form__import-select" type="date" name="ngayXuatVien" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Loại Phòng
                            </span>
                            @Html.DropDownList("loaiPhongID", (IEnumerable<SelectListItem>)ViewBag.loaiPhong, new { @class = "form__import-select", @id = "loaiPhong" })
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Phòng Bệnh
                            </span>
                            @Html.DropDownList("phongBenhID", (IEnumerable<SelectListItem>)ViewBag.phongBenh, new { @class = "form__import-select", @id = "phongBenh", @name = "phongBenhID" })
                        </div>

                        <span data-valmsg-for="phongBenhID"
                              data-valmsg-replace="true" />
                    </div>
                    <div class="col l-4 m-6 c-12" >
                        <div class="form__import-item" hidden>
                            <span class="form__import-label">
                                Trạng thái
                            </span>
                            
                            @Html.DropDownList("trangThaiID", (IEnumerable<SelectListItem>)ViewBag.trangThai, new { @class = "form__import-select", @id = "trangThai", @name = "trangThaiID", @hidden="hidden" })
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Chẩn đoán
                            </span>
                            <textarea class="form__import-select" placeholder="Nhập dữ liệu" name="chanDoan"></textarea>

                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Triệu chứng
                            </span>
                            <textarea class="form__import-select" placeholder="Nhập dữ liệu" name="trieuChung"></textarea>
                        </div>
                    </div>




                </div>
                <div class="btn-container">
                    <button class="btn btn-primary btn__save btn-submit">
                        Lưu thông tin
                    </button>
                    <button class="btn btn__reset btn-submit btn-default">
                        Đặt lại
                    </button>
                    <button class="btn btn__cancel btn-submit btn-default">
                        Hủy
                    </button>
                </div>
            </form>
        </div>
    </div>


</div>
<script>
    $(document).ready(function () {
        handerchangeTypeRoom()
    })
    function handerchangeTypeRoom() {
        var loaiPhong = document.querySelector('#loaiPhong')
        loaiPhong.addEventListener('change', fillDataRoom)
    }
    function fillDataRoom() {
        var val = $(this).find('option:selected').val()
        console.log(val)
        $.ajax({
            url: '/benh-nhan/lay-danh-sach-phong-benh',
            type: 'post',
            datatype: 'json',
            data: {
                loaiPhongID: val
            },
            success: function (data) {
                if (data.code === 200) {
                    fill(data.listRoom)

                }
            }
        })
    }
    function fill(data) {
        var phongBenh = document.querySelector('#phongBenh')
        phongBenh.innerHTML = ''
        for (var item of data) {
            var option = `
            <option value="${item.ID}">
                ${item.tenPhong}
            </option>
        `
            $('#phongBenh').append(option)
        }
    }
    (function () {

        $('#importMedicalRecord').submit(function (even) {


            $.ajax({
                method: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                datatype: 'json',
                type: 'GET',
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr);
                    console.log(ajaxOptions);
                    console.log(thrownError);
                }
            }).done(function (response) {

                if (response != null) {
                    alert(response.msg)
                    console.log(response.model)
                    console.log(response.code)
                    if (response.code === 200) {
                        console.log(response.model)
                        window.location.href = `/benh-nhan/cap-nhat-benh-an/${response.model.ID}`
                    }

                }
            });
            even.preventDefault();
        })

    })()

</script>
