@model DBCovid.models.ThongTinTruyVet
@{
    ViewBag.Title = "ThemThongTinTruyVet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper__custom-height wrapper-block">
    <div class="container__page-fullWidth">
        <div class="name__page">
            <h4 class="name__page-tilte">
                Thêm thông tin truy vết
            </h4>
        </div>
        <div class="container__page-content">
            <form action="/benh-nhan/them-thong-tin-truy-vet" class="form" method="post" id="themThongTinTruyVet">
                <div class="row">
                    @Html.HiddenFor(m => m.benhAnID)
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tên bênh nhân
                            </span>
                            <input class="form__import-select" type="Text" disabled value="@ViewBag.tenBenhNhan" />
                        </div>

                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Thời gian
                            </span>
                            <input class="form__import-select" type="date" name="thoiGian" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Địa chỉ chi tiết
                            </span>
                            <input class="form__import-select" type="text" name="diaChiChiTiet" />
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Tỉnh
                            </span>
                            <select name="tinhID" id="tinhID" class="form__import-select" onchange="tinhchange(this)">
                                <option>Tỉnh</option>
                            </select>
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Huyện
                            </span>
                            <select name="huyenID" id="huyenID" class="form__import-select" style="margin-left:15px" onchange="huyenchange(this)">
                                <option>Huyện</option>
                            </select>
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="form__import-item">
                            <span class="form__import-label">
                                Xã
                            </span>
                            <select name="xaID" id="xaID" class="form__import-select" style="margin-left:15px">
                                <option>Xã</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="btn-container">
                    <button class="btn btn-primary btn__save btn-submit">
                        Lưu thông tin
                    </button>
                    <button class="btn btn__reset btn-submit btn-default" type="reset">
                        Đặt lại
                    </button>
                    <a href="/benh-nhan/cap-nhat-benh-an/@Model.benhAnID" class="btn btn__cancel btn-submit btn-default">
                        Hủy
                    </a>
                </div>
            </form>
        </div>
    </div>


</div>
<script src="~/Assets/js/themThongTinTruyVet.js"></script>
<script>
    var tinh = @Html.Raw(Json.Encode(ViewBag.tinhs));
    var huyen = @Html.Raw(Json.Encode(ViewBag.huyens));
    var xa = @Html.Raw(Json.Encode(ViewBag.xas));




    function tinhchange(res) {
        let id = res.value;
        let slHuyen = $("#huyenID");
        slHuyen.empty();
        slHuyen.append(`<option>Huyện</option>`);
        huyen.map((val) => {
            if (val.tinhID == id) slHuyen.append(`<option value="${val.ID}">${val["tenHuyen"]}</option>`);
        })

    }
    function huyenchange(res) {
        let id = res.value;
        let slxa = $("#xaID");
        slxa.empty();
        slxa.append(`<option>Xã</option>`);
        xa.map((val) => {
            if (val.huyenID == id) slxa.append(`<option value="${val.ID}">${val["tenXa"]}</option>`);
        })
    }
    function loadDC() {
        let slTinh = $("#tinhID");
        let slHuyen = $("#huyenID");
        let slXa = $("#xaID");
        slTinh.empty();
        slTinh.append(`<option>Tỉnh</option>`);
        for (let temp of tinh) {
            slTinh.append(`<option value="${temp["ID"]}">${temp["tenTinh"]}</option>`);
        }
    };
    loadDC();

</script>
